/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-mosne-text-to-speech {

	$el : &;

	&.has-background {
		padding: 1rem;
	}

	&__title {
		margin-top: 0;
		margin-bottom: 1rem;
	}

	&__content {
		display: grid;
		gap: 1rem;
	}

	&__button {
		&.wp-element-button {
			padding: .5rem 1rem;
			white-space: nowrap;
			svg,
			span {
				vertical-align: middle;
				display: inline;
			}
			svg {
				margin-right: .25rem;
				width: 1.25em;
				height: 1.25em;
			}
		}
	}

	&__label {
		margin-right: .5rem;
	}

	&__select {
		font-family: inherit;
		font-weight: inherit;
		padding: .25em 1.5em .25em .5em;
	}

	&__settings {
		display: grid;
		gap: .5rem;
		padding: 1rem 0;
		&[hidden] {
			display: none;
		}
	}
}
