/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-mosne-text-to-speech {

	$el : &;

	&.has-background {
		padding: 1rem;
	}

	&__title {
		margin-top: 0;
		margin-bottom: 1rem;
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
	}

	&__controls {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: .5rem;
	}

	&__button {
		&.wp-element-button {
			padding: .5rem 1rem;
		}
	}

	&__label {
		margin-right: .5rem;
	}

	&__select {
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		background: transparent;
		border: 0;
		border-bottom: 1px solid currentColor;
	}

	&.is-style-minimal{

		#{$el}__title {
			// sr-only
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip: rect(0, 0, 0, 0);
			white-space: nowrap;
			border: 0;
		}

		#{$el}__voices {
			display: none;
		}
	}
}
